# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

elbtoalb-output
terraform-provider-elbtoalb
lb_terraform/
crash.log
terraform.tfstate*
.terraform
searchlight*
test/.terraform
crash.log
mappings.txt
myMappings.txt
elbtoalb-tools/elbtoalb
elbtoalb-tools/elbtoalb-tools
test
prep.sh
